# Terraform state and backup files
*.tfstate
*.tfstate.*
# Ignore all tfvars files except prod.tfvars and dev.tfvars
#*.tfvars
!assignment1/terraform/prod.tfvars
!assignment1/terraform/dev.tfvars
.terraform/
crash.log
*.tfplan
*.backup

# Terraform lock file
.terraform.lock.hcl

# Terraform variable files
#*.tfvars
